/* Form styles */
#product-form {
    text-align: center;
}

/* Cards styles */
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 15px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #46B6AC;
  }